services:
  axonserver:
    image: axoniq/axonserver:2025.2.0
    hostname: axonserver
    ports:
      - "8024:8024"
      - "8124:8124"
    environment:
      AXONIQ_AXONSERVER_HOSTNAME: axonserver
      AXONIQ_AXONSERVER_STANDALONE_DCB: true
      AXONIQ_AXONSERVER_DEVMODE_ENABLED: true
    volumes:
      - ./volumes/axonserver/data:/axonserver/data
      - ./volumes/axonserver/events:/axonserver/events
