services:
  axonserver:
    image: axoniq/axonserver:2025.2.0
    hostname: axonserver
    ports:
      - "8024:8024"
      - "8124:8124"
    environment:
      AXONIQ_AXONSERVER_HOSTNAME: axonserver
      AXONIQ_AXONSERVER_STANDALONE_DCB: true
      AXONIQ_AXONSERVER_DEVMODE_ENABLED: true
    volumes:
      - ./volumes/axonserver/data:/axonserver/data
      - ./volumes/axonserver/events:/axonserver/events
  postgres-axon:
    image: postgres:18
    environment:
      POSTGRES_DB: cinema_db
      POSTGRES_USER: cinema_user
      POSTGRES_PASSWORD: cinema_password
    ports:
      - "8768:8768"
    volumes:
      - ./volumes/postgres-axon:/var/lib/postgresql/18/docker
    command: -p 8768